.Item {
    color: var(--text-gray);
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
    white-space: nowrap;
}
.Item:hover {
    text-shadow: 0.5px 0.5px 0px var(--text-gray);
    transform: scale(1.05);
    color: var(--text-hover-violet);
    transition-duration: 0.1s;
}