@font-face {
  font-family: Kanit;
  src: url(./fonts/kanit.ttf);
}
:root{
  --main-gray: #E3E3E3;
  --text-gray: #626161;
  --text-hover-violet: #4522CE;
}
body {
  font-family: Kanit, Arial, Helvetica, sans-serif !important;
  background-color: var(--main-gray);
}
.Grid {
  display: grid;
  grid-template-areas: "header header header"
                      "mainblock comp order"
                      "mainblock game info";
}
.Grid .main-block{
  margin-top: 100px;
  grid-area: mainblock;
  background-color: aqua;
  min-height: 800px;
}
.Grid .components-block{
  grid-area: comp;
  margin-top: 100px;
  background-color: blue;
  min-height: 400px;
}
.Grid .game-block{
  grid-area: game;
  background-color: brown;
  min-height: 400px;
}
.Grid .order-block{
  grid-area: order;
  margin-top: 100px;
  background-color: chartreuse;
  min-height: 400px;
}
.Grid .info-block{
  grid-area: info;
  background-color: coral;
  min-height: 400px;
}

@media only screen and (max-width: 1250px) {
  .Grid {
    grid-template-areas: "header header"
    "mainblock comp"
    "mainblock game"
    "order info";
  }
  .Grid .order-block{
    margin-top: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .Grid {
    grid-template-areas: "header"
    "mainblock"
    "comp"
    "game"
    "order"
    "info";
  }
  .Grid .components-block{
    margin-top: 5px;
  }
}